<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create</h1>
    <form action="/save" method="post">
        <input type="text" name="name" id="Name ...">
        <input type="email" name="email" id="" placeholder="Email ...">
        <input type="text" name="genero" id="">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>